<footer id="footerWrapper" style="color:white;">
    <section id="mainFooter" style="background-color:black;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footerWidget">
                        @*<img src="images/neko-logo.png" alt="latest Little Neko news" id="footerLogo">*@
                        <h3>Có Thắc Mắc</h3>
                        <p>Bán hàng (7:30 - 22:00)</p>
                        <p>900 Hoặc 18001090</p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footerWidget">
                        @*<img src="images/neko-logo.png" alt="latest Little Neko news" id="footerLogo">*@
                        <h3>Hỗ Trợ Khách Hàng</h3>
                        <a href="javascipt:;"><p>Giao Hàng & Thanh Toán</p></a>
                        <a href="javascipt:;"> <p>Chính Sách Bảo Hành</p></a>
                        <a href="javascipt:;"> <p>Trung Tâm Bảo Hành</p></a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footerWidget">
                        <h3>Phước Mobile</h3>
                        <address>
                            <p>

                                <i class="icon-location"></i>&nbsp;227 Nguyễn Văn Cừ, P.2, Q.5, TPHCM<br>
                                <i class="fa fa-volume-control-phone"></i>&nbsp;099999999 <br>
                                <i class="fa fa-volume-control-phone"></i>&nbsp;091234567 <br>
                                <i class="fa fa-envelope"></i>&nbsp;<a href="javascipt:;">Phuoccon@gmail.com</a>
                            </p>
                        </address>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footerWidget">
                        <h4>Liên kết trang</h4>
                        <a href="javascipt:;" class="tips" title="follow me on Facebook"><i class="fa fa-facebook-official fa-3x"></i></a>
                        <a href="javascipt:;" class="tips" title="follow me on Twitter"><i class="fa fa-twitter-square fa-3x"></i></a>
                        <a href="javascipt:;" class="tips" title="follow me on Sky"><i class="fa fa-skype fa-3x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footerRights" style="background-color:#808080;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <p>Khoa Học Tự Nhiên 13Ck3 © @DateTime.Now </p>
                </div>
            </div>
        </div>
    </section>
</footer>