<style type="text/css">
    /* slider */
    #main-slider img {
        width: 100%;
    }

    .margin_top_10 {
        margin-top: 10px;
    }
    /* panel */
    .panel {
        border: none;
    }
</style>
<div class="row">
    <div class="col-md-8 col-lg-8 col-sm-8">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <a href="javascript:;">
                        <img src="~/hinhanh/slideshow/1.jpg" style="height:350px;" class="img-responsive center-block" />
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="~/hinhanh/slideshow/2.jpg" style="height:350px;" class="img-responsive center-block" />
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="~/hinhanh/slideshow/3.jpg" style="height:350px;" class="img-responsive center-block" />
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="~/hinhanh/slideshow/6.jpg" style="height:350px;" class="img-responsive center-block" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-default" >
            <a href="javascript:;">
                <img src="~/hinhanh/slideshow/4.jpg" style="height:175px;" class="img-responsive center-block" />
            </a>
            <a href="javascript:;">
                <img src="~/hinhanh/slideshow/5.jpg" style="height:175px;" class="img-responsive center-block" />
            </a>
        </div>
    </div>
</div>